.articles {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.article-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 50px;
  gap: 20px;
}
.article {
  box-shadow: 0 0 15px #eee;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 20px;
}
.article:hover {
  transform: translateY(-10px);
}
.article img {
  max-width: 100%;
  border-radius: 3px;
}
.article h4 {
  padding: 10px;
  text-transform: uppercase;
}
.article p {
  padding: 10px;
  color: #666;
}
.article ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-top: 1px solid #eee;
}
.article ul a {
  text-transform: capitalize;
  color: var(--main-color);
  font-weight: bold;
}
.article i {
  font-size: 18px;
}
.article:hover i {
  animation: left-right 0.6s linear infinite;
  position: relative;
}
@keyframes left-right {
  from {
    transform: translateX(3px);
  }
  to {
    transform: translateX(-3px);
  }
}
