.stats {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-image: url(../assets/imgs/stats.jpg);
  background-size: cover;
  position: relative;
  /* max-height: 600px; */
}
.stats::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 97%);
}
.stats .container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.stats .container .box {
  background-color: #fff;
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}
.stats .container .box:hover {
  transform: translateY(-10px);
  transition: 0.3s;
}
.stats .container .box::after,
.stats .container .box::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 0%;
  background-color: var(--main-color);
}
.stats .container .box::after {
  top: 0;
  right: 0;
}
.stats .container .box::before {
  left: 0;
  bottom: 0;
}
.stats .container .box:hover::after,
.stats .container .box:hover::before {
  height: 100%;
  transition: 0.3s;
}
.stats .container .box h3 {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1.4px;
}
.stats .container .box p {
  font-weight: bold;
  color: var(--main-color);
  font-size: 20px;
  text-transform: capitalize;
}
